@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --main-blue-100: #b5cfe7;
 --main-blue-500 : #14273f;
  --main-blue-900: #07162a;
  --main-red-400: #ea2c1b;
  --main-red-900: #9e0000;
  --main-neutral-000: #ffffff;

}